fieldset{
	width: 280px;
	margin: auto;
}
input {
	display: block;
	margin-top: 15px;
}
form fieldset input[type="email"], input[type="password"] {
    border: none;
    border-radius: 3px;
    color: #5a5656;
    font-family: inherit;
    font-size: 14px;
    height: 50px;
    outline: none;
    padding: 0px 10px;
    width: 280px;
    -webkit-appearance: none;
}
form fieldset input[type="submit"] {
    background-color: #8e1821;
    border: none;
    border-radius: 3px;
    color: #f4f4f4;
    cursor: pointer;
    font-family: inherit;
    height: 50px;
    text-transform: uppercase;
    width: 280px;
    -webkit-appearance: none;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}